<% include("cbi/map") %>

<script type="text/javascript">
	(
		function() {
			XHR.poll(5, "<%=luci.dispatcher.build_url("admin", "services", "marsocket", "check_groups_status")%>", null, 
				function(x, status) {
					for (var k in status) {
						var element = document.getElementById("_status_" + k);
						element.textContent = status[k] ? "<%:Running%>" : "<%:Not Running%>";
					}			
				});
		}()
	);

	(
		function() {
			XHR.get("<%=luci.dispatcher.build_url("admin", "services", "marsocket","get_groups_nodelist")%>", null, 
				function(x, ret) {
					for (var k in ret) {
						var switch_mode = document.getElementById("cbid.<%=self.config%>." + k + ".switch_mode");
						var cur_node = document.getElementById("cbid.<%=self.config%>." + k + ".cur_node");
						cur_node.innerHTML="";
						var datalist = ret[k];
						for (var i in datalist) {
							var data = datalist[i];
							if (data.alias == "Disable") {
								data.alias = "<%:Disable%>";
							} else if (data.alias == "Not changeable") {
								data.alias = "<%:Not changeable%>";
							}
							var sel = data.selected == true ? "selected='selected'" : ""
							cur_node.innerHTML += "<option id='cbid.<%=self.config%>."+k+".cur_node-"+data.value+"' value='"+data.value+"' data-index='"+data.idx+"' data-depends='[]' "+sel+">"+data.alias+"</option>";
						}
					}
				}
			);
		}()
	);

	function on_change_switch_mode(section, mode) {
		XHR.get("<%=luci.dispatcher.build_url("admin", "services", "marsocket","switch_groups_nodelist")%>", 
			{ section: section, mode: mode }, 
			function(x, datalist) {
				var element = document.getElementById("cbid.<%=self.config%>." + section + ".cur_node");
				element.innerHTML="";
				for (var i in datalist) {
					var data = datalist[i];
					if (data.alias == "Disable") {
						data.alias = "<%:Disable%>";
					} else if (data.alias == "Not changeable") {
						data.alias = "<%:Not changeable%>";
					}
					var sel = data.selected == true ? "selected='selected'" : ""
					element.innerHTML += "<option id='cbid.<%=self.config%>."+section+".cur_node-"+data.value+"' value='"+data.value+"' data-index='"+data.idx+"' data-depends='[]' "+sel+">"+data.alias+"</option>";							
				}
			}
		);
	}

</script>
